<div class="banner">
  <img src="https://cdn.pixabay.com/photo/2023/10/23/17/03/audi-8336484_1280.jpg" alt="Banner Image">
  <div class="banner-content">
    <h1>Welcome to NEW WAVE</h1>
    <p>Community building in the creator's economy</p>
    <div>
      <a href="#" class="btn btn-primary btn-lg">Explore</a>
      <a href="#" class="btn btn-secondary btn-lg">New Post</a>
    </div>
  </div>
</div>
